@media screen and (min-width: 1500px) {
    .list {
        width: 80vw;
        padding-bottom: 1em;
        padding-left: 20vw;
    }
}

@media screen and (max-width: 1500px) {
    .list {
        width: 100%;
        padding-bottom: 1em;
    }
}

.header {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}

.items {
    list-style-type: none;
    border: 1px solid black;
}

.totalprice {
    width: 80%;
    padding-left: 10%;
}

.totalprice th {
    font-weight: normal;
}

.totalprice td {
    font-weight: bold;
}

.CartItem {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}