.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 300px;
    padding: 10px;
    height: 450px;
    background-color: lightblue;
    justify-content: center;
}

.cardimg {
    width: 100%;
    height: auto;
}

.name {
    text-align: center;
}

.desc {
    text-align: center;
}

.priceamtlayout {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart {
    display: flex;
    justify-content: center;
}